html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}


.header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px 0 20px;
    height: 4.5vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.right-image {
    margin-right: 40px;
    cursor: pointer; /* Add cursor pointer for clickable effect */
}

.icon-container {
    display: none; /* Initially hidden */
    position: absolute;
    right: 150px; /* Adjust based on your layout */
    top: 50%;
    transform: translateY(0%);
    flex-direction: row; /* Change to row for horizontal layout */
    
    vertical-align: middle;
}

.icon {
    margin: 0 10px; /* Horizontal margin */
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateX(10px); /* Initial position for animation */
    width: 30px; /* Adjust the size of the icons */
    height: 30px; /* Adjust the size of the icons */
}

.icon.show {
    opacity: 1;
    transform: translateX(0); /* Final position for animation */
}
.section {
    height: calc(100vh); /* Adjust min-height to account for the header height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.section1 {
    background: linear-gradient(to bottom, black, rgb(57, 57, 57));
    position: relative;
}

.section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 40px;
    background: white;
}

.section2 {
    background: linear-gradient(to bottom, rgb(177, 177, 177), white 50%);
    position: relative;
}

.section2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 40px;
    background: black;
}

.text-container {
    position: absolute;
    left: 0;
    padding-left: 20px;
    max-width: 350px;
    text-align: left;
    z-index: 1;
}

.project-info {
    position: absolute;
    top: 100px;
    left: 70px;
    text-align: left;
    z-index: 1;
    width: 35%;
}

.project-info .thin-text {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.project-info .bold-text {
    font-size: 25px;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 4px;
}

.overlay-container {
    position: absolute;
    top: -35vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the bottom */
    pointer-events: none;
    z-index: 0;
    animation: moveDown 1s ease-out forwards;
}

.overlay-image {
    max-width: 30%;
    max-height: 30%;
}

h1 {
    margin-left: 40px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

p {
    margin-left: 40px;
    font-size: 15px; /* Base font size plus a value that scales with viewport width */
    color: white;
    padding-right:50px;
}

p1 {
    font-size: 15px; /* Base font size plus a value that scales with viewport width */
}

img {
    max-height: 100%;
}



@keyframes moveDown {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}

.section3 {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:10px;
    font-size: 15px;
}
.section3 td {
    
    padding: 10px;
}

.section3::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 80px;
    background: black;
}

.section3 table {
    width: 100%;
    border-collapse: collapse;
}

.skills {
    font-family: 'Nunito Sans', sans-serif;
    width:50%;
}
.col1{
    text-align: right;
    vertical-align: top;
}

.top-button {
    opacity: 0; /* Initial opacity */
    visibility: hidden; /* Initial visibility */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Distance from the bottom */
    right: 30px; /* Distance from the right */
    z-index: 99; /* Sit on top */
    background-color: black; /* Black background */
    color: white; /* White text */
    padding: 15px; /* Some padding */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition for appearance */
}

.top-button.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Fully visible */
}


.arrow-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 5vh; /* Adjust size as needed */
    height: 5vh; /* Adjust size as needed */
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
}

.arrow-button.hidden {
    opacity: 0;
    visibility: hidden;
}
.black-images img {
    filter: invert(1);
    transition: clip-path 1s, filter 1s;
}
.black-images .icon
{
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.arrow-button.black-images2 {
    filter: invert(1);
    transition: clip-path 1s, filter 1s;
}
/* Mobile Styles */
@media (max-width: 500px) {
    .header {
        justify-content: center;
        height:45px;
    }

    .left-image {
        display: none;
    }

    .right-image {
        display: block;
        margin: 0 auto;
        position: relative;
        right: 15px; /* Adjust this value to move the image slightly to the left */
    }

    .section {
        height: calc(100vh); /* Adjust min-height to account for the header height */
    }
    .project-info{
        width:70%;
    }
    h1 {
        font-size:40px; /* Base font size plus a value that scales with viewport width */
    }

    p {
        
        font-size:15px; 
    }
    .arrow-button{
        visibility: hidden;
    }
    .overlay-image {
        max-width: 20%; /* Adjust the cube size */
        max-height: 20%;
        margin-bottom: 20px; /* Add margin to move it out of the way */
    }

    .section3 td {
        font-size: 12px; /* Base font size plus a value that scales with viewport width */
        
    }
    
    .skills {
         /* Base font size plus a value that scales with viewport width */
        width:100%;
    }
    
}
